<app-header></app-header>
<div class="card">
  <h1>Seed Rules</h1>
  <p>Ut sit amet lacus purus. Sed gravida ligula et tellus cursus sodales quis id lacus. Pellentesque fringilla ac sapien et
    dictum. Integer scelerisque aliquam varius. Sed nec odio non sapien imperdiet molestie quis at orci. Curabitur eget sollicitudin
    nisl. Duis egestas orci pretium justo auctor vehicula.</p>
  <md-table #table [dataSource]="dataSource">
    <!-- ID Column -->
    <ng-container cdkColumnDef="userId">
      <md-header-cell *cdkHeaderCellDef> ID </md-header-cell>
      <md-cell *cdkCellDef="let row">{{row.id}} </md-cell>
    </ng-container>

    <!-- Progress Column -->
    <ng-container cdkColumnDef="progress">
      <md-header-cell *cdkHeaderCellDef> Operator </md-header-cell>
      <md-cell *cdkCellDef="let row">
        <md-input-container>
            <input type="text" mdInput [formControl]="myControl" [mdAutocomplete]="auto" [(ngModel)]="row.operator">
         </md-input-container>
         <md-autocomplete #auto="mdAutocomplete">
            <md-option *ngFor="let opt of filteredOptions | async" [value]="opt">{{ opt }}</md-option>
         </md-autocomplete>
      </md-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container cdkColumnDef="userName">
      <md-header-cell *cdkHeaderCellDef> Value </md-header-cell>
      <md-cell *cdkCellDef="let row">
        <md-input-container>
          <input mdInput [value]="row.value" required [errorStateMatcher]="myErrorStateMatcher">
          <md-error>This field is required</md-error>
        </md-input-container>
      </md-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container cdkColumnDef="color">
      <md-header-cell *cdkHeaderCellDef>Decision</md-header-cell>
      <md-cell *cdkCellDef="let row">
        <md-input-container>
          <input mdInput [value]="row.decision" required [errorStateMatcher]="myErrorStateMatcher">
          <md-error>This field is required</md-error>
        </md-input-container>
      </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>
</div>
